.app-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 5;
  margin: auto;
  justify-content: center;
  min-width: 50vw;
  max-width: 800px;
}

.app-container > * {
  width: 100%;
  text-align: center;
}

ul {
  padding-inline-start: 0;
  margin: 5px;
}

li {
  list-style: none;
  display: flex;
  flex-basis: row nowrap;
  column-gap: 1rem;
  row-gap: 1rem;
  background: paleturquoise;
}

li:nth-child(even) { background: palegoldenrod; 
}

.complete {
}

.complete p {
  text-decoration: line-through;
  color: grey;
}

.incomplete {
}

.incomplete p {
  font-weight: bolder;
}

li button {
  margin-left: auto;
}